.h5 {
  font-family: "Playfair Display";
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  text-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.p {
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
  margin-top: 10px;
}

.p1 {
  font-family: "Cormorant Garamond";
  font-size: 2rem;
  font-weight: 300;
  color: rgb(0, 0, 0);;
}

.p1 {
  font-family: "Cormorant Garamond";
  font-size: 2rem;
}

.caption-container {
  position: absolute;
  top: 120px;
  left: 120px;
  max-width: 600px;
  padding: 20px;
  background: rgba(105, 99, 82, 0.66);
  border-radius: 10px;
  width: 400px;
  height:250px;
  z-index: 10;
}

.texto{
  margin: 20px;
  padding: 20px;
}

#carousel .carousel-item img {
  width: 100% !important;
  max-height: 600px !important;
  object-fit: cover !important;
}

.row{
  padding: 20px;
  border-radius: 10px;
}

.background-image2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contain;

}

.Home{
  background-color: #E1E0DC;
}
